ul.sitemap { 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}
ul.sitemap h2 {
	font-size: 150%;
}
ul.sitemap li { 
	margin: 0;
	padding: 0;
	list-style-type:none; 
	overflow: hidden;
	break-inside: avoid;
}
ul.sitemap ul { 
	padding: 0; 
	margin: 0;
}
ul.sitemap ul li {
	margin: 1em 0 0 0;
}
ul.sitemap ul ul {
	padding: 0 0 0 1.5em;
} 

@media screen and ( min-width: 48em ) {
	ul.sitemap {
	    column-count: 2;
	    column-gap: 2em;
	}
}
